@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hotwire Turbo Progress Bar Styling */
.turbo-progress-bar {
  height: 4px;
  background-color: #10b981;
  box-shadow: 0 0 10px #10b981, 0 0 5px #059669;
}

